mat-drawer {
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
}

mat-drawer-container,
mat-drawer {
  background-color: #0a0a11 !important;
}

:host {
  flex-direction: column;
}
