<div class="w-full h-7 border-pink border-b text-white flex items-center p-2 justify-between">
  <div class="flex gap-3 items-center">
    <fa-icon class="text-sm" [icon]="laptopIcon"></fa-icon>
    <span class="text-base">rafael-chicovis.dev</span>
  </div>

  <div class="flex items-center gap-10">
    @if (!isMobile) {
    <div class="text-sm gap-2 flex items-center">
      <span class="flex items-center mr-2 gap-1">
        <fa-icon class="text-red-500 text-base" [icon]="angularIcon"></fa-icon>
        <span>Angular CLI Serve</span>
      </span>
      <fa-icon class="text-lime-500 cursor-pointer" [icon]="playIcon"></fa-icon>
      <fa-icon class="text-sky-500 cursor-pointer" [icon]="bugIcon"></fa-icon>
      <fa-icon class="text-red-500 cursor-pointer" [icon]="stopIcon"></fa-icon>
    </div>
    }

    <div class="flex gap-2 items-center">
      <fa-icon class="cursor-pointer" [icon]="minimizeIcon"></fa-icon>
      <fa-icon class="cursor-pointer" [icon]="maximizeIcon"></fa-icon>
      <fa-icon class="cursor-pointer" [icon]="timesIcon"></fa-icon>
    </div>
  </div>
</div>
