@for (info of infos; track info) {
<ng-container *ngTemplateOutlet="contactTemplate; context: { info: info }"></ng-container>
}

<ng-template let-info="info" #contactTemplate>
  <mat-card appearance="outlined" class="w-4/5" (click)="templateClicked($event, info.url)">
    <a [href]="info.url">
      <mat-card-content>
        <fa-icon [icon]="info.icon" size="2xl"></fa-icon>
        <div>
          <h6>{{ info.title }}</h6>
          <span class="text-xs">{{ info.description }}</span>
        </div>
      </mat-card-content>
    </a>
  </mat-card>
</ng-template>
